*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: opensans;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: opensans;
    font-weight: normal;
    font-style: 600;
    src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.container-fluid{
    width: 100%;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    font-family: "opensans" ,Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}

header > .container{
    padding: 20px 20px;
}

header .container .menu{
   align-content: stretch;
}

header .container .menu a{
    font-size: 1.250em;
    text-decoration: none;
    color: #bab8b8;
    margin: 0 20px;


}

header .container .menu a:hover{
    color: #4497f3;
    font-weight: 600;
    padding-bottom: 0px;
    border-bottom: 3px solid #4497f3;
}
header .container .menu a.active{
    color: #4497f3;
    font-weight: 600;
}

.btn1{
    font-family: "opensans" ,Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #4497f3;
    padding: 15px 75px ;
    border: 3px solid #4497f3;
    background-color: white;
    border-radius: 3px;
   
}

footer{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.000em;
    
    font-family: "opensans" , Arial, Helvetica, sans-serif;
}

footer .menu-bottom{
    margin-bottom: 10px;
}

footer .menu-bottom a{    
    margin-bottom: 20px;
    color: #2b323a;
    text-decoration: none;
    margin: 0 10px;
}

footer .bottom{
    margin-bottom: 15px;
}

footer .bottom i{
    color: #c6c6c6;
}

footer .bottom-img{
    display: inline-flex;
    margin-bottom: 40px;
}

footer .bottom-img a{
    background-size: cover;
    height: 48px;
    width: 48px;
    background-color: #3984f3;
    display: inline-block;
    border-radius: 30px;
    margin: 0 12px;
    text-decoration: none;
    color: white;
    text-align: center;
}

footer .bottom-img a img{
    margin-top: 16px;
    
}