.ginfo{
    background: url(../images/main/info.png) right no-repeat;
    background-size: contain;
    margin-left: 160px;
    margin-top: 60px;
    margin-bottom: 120px;
    
}

.ginfo .ginfo-intro{

    
    color: #091e40;
    font-size: 70pt;
}

.ginfo .ginfo-intr-text{
    color: #81858e;
    font-size: 20pt;
    margin-bottom: 40px;
}
.ginfo a{
    background-color: #3984f3;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
}



